<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>


<link rel="stylesheet" href="static/css/style.css">

<div class="card">
    <img src="static/images/picture.jpg" alt="Michael" style="width:100%">
    <h1>Mikhail Rudenko</h1>
    <p class="title">ITMO University</p>
    <p class="title">{{year}}-year student</p>
    <a href="https://mihaalexrudenko@mail.ru" class="gradient-button">mihaalexrudenko@mail.ru</a>

</div>
</body>
</html>
